@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>"Our formula is simple: we’re a growth company focused on better solving the unmet needs of our customers—and we rely on our employees to solve those puzzles. Thanks for stopping."</p>
