@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Thee Best Movies<br />
    Rexburg, Idaho 83440<br />
    <abbr title="Phone">P:</abbr>
    208.496.700
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
